@use '../variables' as *;
@use '../mixins' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-pale-white);
  z-index: 100;
  padding: $spacing-xl $spacing-2xl;

  &__inner {
    @include flex-center;
  }

  &__logo {
    font-family: $font-family-heading;
    font-size: $font-size-body;
  }

  &__nav {
    display: none;

    @include md {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    gap: $spacing-lg;
  }

  &__nav-link {
    font-size: $font-size-caption;
    transition: color 0.3s;

    &:hover {
      color: $color-accent;
    }
  }

  &__hamburger {
    display: block;

    @include md {
      display: none;
    }
  }
}
