@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --brand: #{$color-brand};
  --dark-brown: #{$color-main};
  --accent: #{$color-accent};
  --light-pink: #{$color-light-pink};
  --snow-white: #{$color-pale-white};
  --paper-white: #{$color-paper-white};
  --mid-grey: #{$color-mid-grey};
  --dark-grey: #{$color-dark-grey};
  --black: #{$color-black};
  --dark-pink: #{$color-dark-pink};
  --brown: #{$color-brown};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-body-small;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  color: var(--color-brand);
  background-color: var(--snow-white);
}

ul,
ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
